// collpase样式
.pagecard {
  .ant-collapse-item {
    .ant-collapse-header {
      padding: 16px 24px;
      font-size: 16px;
      border-bottom: 1px solid @border-color;
    }
  }
}

// 详情upload样式
.detailupload {
  width: 100%;
  .ant-upload-list-item {
    margin-top: 0;
  }
}

// form表单里的表格(不需要padding)
.ant-form-item-control-input,
.nopaddingtable {
  .ant-pro-card-body {
    padding: 0;
  }
}

// edittable表格样式
.ant-table-container {
  border: 1px solid @border-color;
}

// descriptions
.ant-descriptions-item-content {
  overflow: hidden;
}

// tabs徽标样式
.tab-bages {
  .ant-tabs-nav-list {
    margin-top: 8px;
    .ant-badge-count {
      top: -10px;
      right: -15px;
      z-index: 99;
    }
  }
}

// 可编辑表格,一列有多个输入框样式
.nopaddingtable .ant-table .ant-table-container {
  .edittablecolleft {
    padding-right: 0;
    &::before {
      width: 0 !important;
    }
  }
  .edittablecolright {
    padding-left: 0;
  }
}

// 提示样式
.tipcontent {
  margin-bottom: 24px;
  color: #999;
}
