.container {
  margin-bottom: @common-padding;
  .header {
    height: 40px;
    .title {
      float: left;
      font-weight: bold;
      font-size: 16px;
    }
    .extra {
      float: right;
    }
  }
  .content {
    padding-top: 20px;
  }
}
